__pycache__
*.pyc
*.pyo
.git
env
.venv
.coverage
.coveragerc
.idea
README.md
.gitignore
htmlconv
devsearch
fixtures
.vscode
commands.txt
**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.dev.yml
**/.DS_Store
**/venv
**/env
logs
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
cert.crt
cert.key