{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Inbox" %}{% endblock title %}

{% block content %}
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">
      {% trans "New Messages" %} (<span>{{ unread_count }}</span>)
    </h3>
    <ul class="messages">
      {% for message in message_requests %}
        <li class="message {% if not message.is_read %}message--unread{% endif %}">
          <a href="{% url "messages:message" message.id %}">
            <span class="message__author">{{ message.name }}</span>
            <span class="message__subject">
              {{ message.subject }}
            </span>
            <span class="message__date" data-server-time="{{ message.created|date:"c" }}"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock content %}