{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Send Message to a Developer" %}{% endblock title %}

{% block content %}
<main class="formPagge my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="javascript:history.back()"><i class="fa-solid fa-angle-left"></i></a>
      <br>

      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form__field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <input class="btn btn--sub btn--lg  my-md" type="submit" value="{% trans "Submit" %}" />
      </form>
    </div>
  </div>
</main>
{% endblock content %}