{% extends "common/base.html" %}

{% load i18n %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}
<main class="formPage my-xl">
  {% comment %} <button type="button" class="btn btn-dark" id="js-go-back-btn">Go back</button> {% endcomment %}
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{% url 'profiles:account' %}"><i class="fa-solid fa-angle-left"></i></a>
      <br>

      <form action="{% url "profiles:profile_edit" %}" class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in user_form %}
          <div class="form__field">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
          </div>
        {% endfor %}

        {% for field in profile_form %}
          <div class="form__field">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
          </div>
        {% endfor %}
        
        <input class="btn btn--sub btn--lg  my-md" type="submit" value="{% trans "Submit" %}" />
      </form>
    </div>
  </div>
</main>

<script>
  const inputs = document.querySelectorAll('input:not([type="url"])');
  
  inputs.forEach(input => {
    input.classList.add('input', 'input--text');
  });
  
  const urlInputs = document.querySelectorAll('input[type="url"]');
  const textareas = document.querySelectorAll('textarea');

  urlInputs.forEach(input => {
    input.classList.add('custom-url-input');
  });

  textareas.forEach(textarea => {
    textarea.classList.add('custom-textarea');
  });

  {% comment %} document.getElementById("js-go-back-btn").addEventListener("click", () => {
    // Redirect to homepage
    location.href = "{% url "" %}"; // TODO: WRITE LATER
  }); {% endcomment %}
</script>

{% endblock %}