{% extends "common/base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<!-- Main Section -->
<main class="formPage my-xl">
  <!-- TODO: REMOVE BOOTSTRAP CLASSES -->
  {% comment %} <button type="button" class="btn btn-dark" id="js-go-back-btn">Go back</button> {% endcomment %}
  <a class="backButton" href="javascript:history.back()"><i class="im im-angle-left"></i></a>
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="javascript:history.back()"><i class="im im-angle-left"></i></a>
      <br>

      <form action="{% url "profiles:edit" %}" class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in user_form %}
          <div class="form__field">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
          </div>
        {% endfor %}

        
        {% for field in profile_form %}
          <div class="form__field">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
          </div>
        {% endfor %}
        
        {{ formset.management_form }}
        {% for field in formset %}
          <div class="form__field">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
          </div>
        {% endfor %}
        
        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</main>

<script>
  const inputs = document.querySelectorAll('input');
  console.log(inputs);
  inputs.forEach(input => {
    input.classList.add('input', 'input--text');
  });
  {% comment %} document.getElementById("js-go-back-btn").addEventListener("click", () => {
    // Redirect to homepage
    location.href = "{% url "" %}"; // TODO: WRITE LATER
  }); {% endcomment %}
</script>

{% endblock %}