{% extends "common/base.html" %}

{% load i18n %}

{% block title %}{% trans "Add or Edit Skill" %}{% endblock %}

{% block content %}
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{% url 'profiles:account' %}"><i class="fa-solid fa-angle-left"></i></a>
      <br>

      <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="form__field skill">
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }} 
          </div>
        {% endfor %}
        
        <input class="btn btn--sub btn--lg  my-md" type="submit" value="{% trans "Submit" %}" />
      </form>
    </div>
  </div>
</main>

<script>
  const inputs = document.querySelectorAll('input');
  inputs.forEach(input => {
    input.classList.add('input', 'input--text');
  });
</script>

{% endblock %}