{% extends "common/base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Add or Edit Project" %}
{% endblock title %}

{% block content %}
  <main class="formPage my-xl">
    <div class="content-box">
      <div class="formWrapper">
        <a class="backButton" href="{% url 'profiles:account' %}"><i class="fa-solid fa-angle-left"></i></a>
        <br>
        <form class="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
            <div class="form__field">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endfor %}
          <div class="form__field" id="form__tag">
            {% for tag in project.tags.all %}
              <div class="project-tag tag tag--pill tag--main"
                   data-tag="{{ tag.id }}"
                   data-project="{{ project.slug }}">{{ tag.name }} ×</div>
            {% endfor %}
          </div>
          <div class="form__field">
            <label for="formInput#text">{% trans "Tags" %}</label>
            <textarea class="input"
                      name="newtags"
                      placeholder="{% trans "Add tags here...Seperate it with a comma" %}"></textarea>
          </div>
          <input class="btn btn--sub btn--lg  my-md" type="submit" value="{% trans "Submit" %}" />
        </form>
      </div>
    </div>
  </main>
{% endblock content %}
