{% extends "common/base.html" %}

{% load i18n %}

{% block title %}{% trans "Single Project" %}{% endblock title %}

{% load static %}

{% block content %}
<main class="singleProject my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <h3 class="singleProject__subtitle">{% trans "Tools & Stacks" %}</h3>
        <div class="singleProject__toolStack">
          {% for tag in project.tags.all %}
            <span class="tag tag--pill tag--sub tag--lg">
              {{ tag }}
            </span>
          {% endfor %}
        </div>
        {% if project.source_link %}
          <a class="singleProject__liveLink" href="{{ project.source_link }}" target="_blank"><i class="fas fa-external-link-alt"></i>{% trans "Source Code" %}
          </a>
        {% endif %}

        {% if project.demo_link %}
          <a class="singleProject__liveLink" href="{{ project.demo_link }}" target="_blank"><i
                  class="fas fa-external-link-alt"></i>{% trans "Live Demo" %}
          </a>
        {% endif %}
      </div>
      <div class="column column--2of3">
        <img class="singleProject__preview" src="{% if project.featured_image %}{{ project.featured_image }}{% else %}{% static "media/no_image.png" %}{% endif %}" alt="{% trans "This is an image showing a" %} '{{ project.title }}'" />
        <a href="{{ project.owner.get_absolute_url }}" class="singleProject__developer">{{ project.owner.user.full_name }}</a> 
        <h2 class="singleProject__title">{{ project.title }}</h2>
        <h3 class="singleProject__subtitle">{% trans "About the Project" %}</h3>
        <div class="singleProject__info">
          {% with project.description|truncatewords:30 as truncated_desc %}
              <span id="truncated-description-{{ project.id }}">
                {{ truncated_desc }}
                {% if project.description != truncated_desc %}
                  <a href="javascript:void(0);" onclick="toggle('{{ project.id }}')">{% trans "Read more" %}</a>
                {% endif %}
              </span>
            {% endwith %}
            <span id="full-description-{{ project.id }}" style="display:none;">
              {{ project.description|linebreaks }}
              <a href="javascript:void(0);" onclick="toggle('{{ project.id }}')">{% trans "Read less" %}</a>
            </span>
          
        </div>

        <div class="comments">
          <h3 class="singleProject__subtitle">{% trans "Feedback" %}</h3>
          {% comment %} <h5 class="project--rating">
            {{ project.vote_ratio }}% {% trans "Positive Feedback" %} ({{ project.vote_total }} {% trans "Vote" %}{{ project.vote_total|pluralize:"s" }})
          </h5> {% endcomment %}
          <h5 class="project--rating">
            {{ project.vote_ratio }}% {% trans "Positive Feedback" %} 
            ({{ project.vote_total }} 
            {% blocktrans count vote_total=project.vote_total %}
              Vote
            {% plural %}
              Votes
            {% endblocktrans %})
          </h5>          

          {% if request.user.profile.id in project.reviewers %}
            <p>{% trans "You have already submitted your review for this project" %}</p>
          {% elif request.user.profile == project.owner %}
            <p>{% trans "You cannot review your own work" %}</p> 
          {% elif request.user.is_authenticated %}
            <form class="form" action="{{ project.get_absolute_url }}" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form__field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}

              <input class="btn btn--sub btn--lg" type="submit" value="{% trans "Add Review" %}" />
            </form> 
          {% else %}
            <a href="{% url 'accounts:login' %}?next={{ request.path }}">{% trans "Please login to leave a review" %}</a>
          {% endif %}

          <div class="commentList">
            {% for review in project.reviews.all %}
            <div class="comment">
              <a href="{{ review.reviewer.get_absolute_url }}">
                <img class="avatar avatar--md"
                  src="{{ review.reviewer.image_url }}" alt="{% trans "A profile photo of the person that wrote a review" %}" />
              </a>
              <div class="comment__details">
                <a href="{{ review.reviewer.get_absolute_url }}" class="comment__author">{{ review.reviewer.user.full_name }}</a>
                <p class="comment__info">
                  {{ review.content|linebreaks }}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

{% endblock %}